*{
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
imgg{
    width: 100%;
}
.page{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 65px 0 55px;
}
ul{
    display: flex;
    gap: 48px;
}
ul li a{
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #1F1534;
    opacity: 0.5;
}
ul li a:hover{
    opacity: 1;
    font-weight: bold;
}

/*========MAIN===========*/
main{
    display: flex;    
    justify-content: space-between;
    gap: 53px;
}
.box-text h2{
    font-size: 49px;
    line-height: 56px;
    font-weight: normal;
}
.box-text h2 span{
    color: #89C5CC;
    font-weight: bold;
}
.box-text p{
    margin: 40px 0;
    font-size: 14px;
    line-height: 28px;
    color: #7D7987;
}
.box-text button{
    padding: 15px 32px;
    border: none;
    background-color: #69B99D;
    border-radius: 4px;
    color: white;
}
button{
    display: flex;
    align-items: center;
    gap: 4px;
}
.box-image{
    width: 417px;
}
/*=====FOOTER=========*/
footer{
    text-align: center;
    font-size: 14px;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
}
footer span{
    font-weight: bold;
}
#balls{
    position: fixed;
    bottom: 0;
    right: 0;
}